<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title> Add Profile </title>
</head>
<body>
    <H2> Add Someone </H2>
    <form action=""></form>
</body>
</html>