<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Menu </title>
  
</head>
<body>
    <table border="1">
        <tr>
            <th> Image </th>
            <th> Name </th>
            <th> Type </th>
            <th> Price </th>
        </tr>
        <% data.forEach(el => { %>
        <tr>
            <td> <img src="<%= el.imageURL %>" width="200px" height="150px"> </td>
            <td> <%= el.name %></td>
            <td> <%= el.type %></td>
            <td> <%= el.price %></td>
        </tr>
        <% }) %>
    </table>

    <h3> <a href="/logout"> logout bang </a></h3>
</body>
</html>